/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on   : 27.10.2015, 08:57:51
    Author       : Julia
    Orange-Colors: http://www.w3schools.com/colors/colors_groups.asp
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans:400,300,600|Karla:400,700|Questrial|Didact+Gothic);
* {
    font-family: "Josefin Sans";
    font-size: 16pt;
    box-sizing: border-box;
}

h1 {
    color: #FF4500;
    font-size: 30pt;
    font-family: "Indie Flower";
}

h2 {
    color: #FF8C00;
    font-size: 20pt;
    font-family: "Karla";
}

h3{
    color: #ffffff;
    background-color: #FF7F50;
    font-size: 18pt;
    font-family: "Karla";
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

#container{
    width:100%;
    margin: 10px;
}

#head{
    width:100%;
    height:auto;
    float:left;
}

#main{
    width:70%;
    height:auto;
    float:left;
}

#side{
    width:30%;
    height:auto;
    float:left;
}

#login{
    width:288px;
    height:200px;
    float:left;
}

#news{
    width:288px;
    height:auto;
    float:left;
}

@media screen and (max-width:960px){
    #container{
        width:100%;
    }

    #head{
        width:100%;
        float: left;
    }

    #main{
        width:70%;
        flaot:left;
    }

    #side{
        width:30%;
        float:right;
    }

    #login{
        width:100%;
        float:left;
    }

    #news{
        width:100%;
        float:left;
    }
}
@media screen and (max-width:660px){
    #container{
        width:100%;
    }

    #head{
        width:100%;
    }

    #main{
        width:100%;
    }

    #side{
        width:100%;
        float:left;
    }

    #login{
        width:50%;
        height: auto;
    }

    #news{
        width:100%;
    }
}