/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on   : 27.10.2015, 08:57:51
    Author       : Julia
    Orange-Colors: http://www.w3schools.com/colors/colors_groups.asp
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans:400,300,600|Karla:400,700|Questrial|Didact+Gothic);
* {
    font-family: "Josefin Sans";
    font-size: 16pt;
    box-sizing: border-box;
}

h1 {
    color: #FF4500;
    font-size: 30pt;
    font-family: "Indie Flower";
}

h2 {
    color: #FF8C00;
    font-size: 20pt;
    font-family: "Karla";
}

h3{
    color: #ffffff;
    background-color: #FF7F50;
    font-size: 18pt;
    font-family: "Karla";
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.error{
    color: red;
    font-size: 14pt;
}

p{
    color:black;
}

a{
    text-decoration: none;
}
input[type="submit"], input[type="button"] {
    -moz-box-shadow:inset 0px 1px 0px 0px #ff6347;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ff6347;
    box-shadow:inset 0px 1px 0px 0px #ff6347;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff6347), color-stop(1, #ff7f50));
    background:-moz-linear-gradient(top, #ff6347 5%, #ff7f50 100%);
    background:-webkit-linear-gradient(top, #ff6347 5%, #ff7f50 100%);
    background:-o-linear-gradient(top, #ff6347 5%, #ff7f50 100%);
    background:-ms-linear-gradient(top, #ff6347 5%, #ff7f50 100%);
    background:linear-gradient(to bottom, #ff6347 5%, #ff7f50 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6347', endColorstr='#ff7f50',GradientType=0);
    background-color:#ff6347;
    border:1px solid #ff6347;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    width: 100%;
    text-decoration:none;
}
input[type="submit"]:hover, input[type="button"]:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff7f50), color-stop(1, #ff6347));
    background:-moz-linear-gradient(top, #ff7f50 5%, #ff6347 100%);
    background:-webkit-linear-gradient(top, #ff7f50 5%, #ff6347 100%);
    background:-o-linear-gradient(top, #ff7f50 5%, #ff6347 100%);
    background:-ms-linear-gradient(top, #ff7f50 5%, #ff6347 100%);
    background:linear-gradient(to bottom, #ff7f50 5%, #ff6347 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7f50', endColorstr='#ff6347',GradientType=0);
    background-color:#ff7f50;
}
input[type="submit"]:active, input[type="button"]:active {
    position:relative;
    top:1px;
}

#container{
    width:100%;
    margin: 10px;
}

#head{
    width:100%;
    height:auto;
    float:left;
}

#main{
    width:70%;
    height:auto;
    float:left;
    border: 10px solid transparent;
}

#commentN1{
    width: 80%;
    color:white;
    background-color: #FFA500;
    border-style: ridge;
    border-radius:50px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#commentN2{
    width: 80%;
    color:white;
    background-color: #FF8C00;
    border-style: ridge;
    border-radius:50px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#commentN3{
    width: 80%;
    color:white;
    background-color: #FF7F50;
    border-style: ridge;
    border-radius:50px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#commentN4{
    width: 80%;
    color:white;
    background-color: #FF6347;
    border-style: ridge;
    border-radius:50px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#commentN5{
    width: 80%;
    color:white;
    background-color: #FF4500;
    border-style: ridge;
    border-radius:50px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#login{
    width:30%;
    height:auto;
    float:right;
}

#news{
    width:288px;
    height:auto;
    float:left;
}

@media screen and (max-width:960px){
    #container{
        width:100%;
    }

    #head{
        width:100%;
        float: left;
    }

    #main{
        width:70%;
        flaot:left;
    }

    login{
        width:100%;
        float:right;
    }

    #news{
        width:100%;
        float:left;
    }
}
@media screen and (max-width:660px){
    #container{
        width:100%;
    }

    #head{
        width:100%;
    }

    #main{
        width:100%;
    }

    #login{
        width:100%;
        float:left;
    }


    #news{
        width:100%;
    }
}